WCF/Client/Connected Services/ServiceReference1/StringService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/kNN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/kNN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/StringService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Info">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CountOfClasses" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DataInf" type="xs:int" />
      <xs:element minOccurs="0" name="DataLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Info" nillable="true" type="tns:Info" />
</xs:schema>